.header{
  background: #27273e;
  display:flex; 
  width: 100%;
  height:22.2%;
}
.sidebar__price{

}
.breadcrumbs{
  display: flex;
}
.breadcrumbs__list{
 display: flex;
}
.breadcrumbs__link,
.breadcrumbs__item{
 display: flex;
}
.breadcrumbs__item:after {
 content: "/";
 display: flex;
 /* vertical-align: middle; */
 align-items: center;
}

.breadcrumbs__link {
 color: rgba(178, 73, 48, 0.8);
 font-family: "Gotham Pro";
 font-size: 14px;
 font-weight: 400;

}

.breadcrumbs__item--active:after {
 display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
 color: rgba(34, 31, 31, 0.8);
 text-decoration: none;
}

  
.page-content--price{
  padding: 30px 0 71px 0;
}
.nav-content{
  padding: 0;
}
.nav__link{
  color: #ec1e79;
}
.nav__link:hover{
  color: black;
}
.nav__link--icon--main_wallet{
    color: black;
}
.nav__link--icon--main:before{
  background: url(img/css_revies.png ) -89px -10px;;
}
.nav__link--icon--feed:before{
  background: url(img/css_wallet.png) -10px -10px;
}
.nav__link--icon--main_wallet:before{
  background: url(img/css_wallet.png)-10px -48px;
}
.nav__link--icon--main:hover:before{
  background: url(img/css_revies.png )  -49px -48px;
}
.nav__link--icon--feed:hover:before{
  background: url(img/css_wallet.png)  -50px -10px;
}
.nav__link--icon--main_wallet:hover:before{
  background: url(img/css_wallet.png)-10px -48px;
}

/* .rates{
  padding-top: 29px;
} */
.rates__foto{
  width: 250px;
  height: 153px;
  position: relative;
  display: flex;

}
.rates__img{
  border-radius: 4px;

}
.rates__one{
  font-family: "Gotham Pro";
  font-weight: bold;
  font-size: 24px;
 color:#5dd1f8;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}
.rates__one--vip{
color: #ec1e79;
}
.rates__foto:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(34, 31, 31, 0.85); */
  background-color: #27273e;
  opacity: 0.85;
  border-radius: 4px;
}
.rates__list-first,
.rates__list-second{
  display: flex;
  
  justify-content: space-between;
  flex-wrap: wrap;
}
.rates__list-first{
  padding-bottom: 48px;
}
.rates__item{
display: flex;
flex-direction: column;
/* padding-bottom: 48px; */
  }
.rates__desk{
    width: 250px;
    padding-top: 29px;
  }
.rates__title{
  font-size: 18px;
  line-height: 21px;
  color: #221f1f;
  font-family: "Gotham Pro";
  font-weight: bold;
  text-align: center;
}
.rates__text{
  font-size: 14px;
  line-height: 21px;
  font-family:"Gotham Pro";
  font-weight: 300;
  text-align: center;
  padding-top: 15px;
}
.rates__name{
  color: #221f1f;
  font-family: "Gotham Pro";
  font-size: 49px;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 43px;

}

.partners{
  padding-top: 27px;
  padding-bottom: 36px;
  
}
/* .partners__title{
  padding-bottom: 52px;
  text-align: center;
} */
.partners__name{
  text-align: center;
  padding-bottom: 52px;
  text-transform: uppercase;
  color: #221f1f;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 700;
}
.partners__list-second{
  padding-top: 52px;
}
/* .partners--centr{
  padding-left: 127px;
  padding-right: 140px;
} */
.partners__list-first{ 
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* max-width:685px ; */
 
}
.partners__item{
  margin-bottom: 44px;
}
.partners-logo{
  /* position: relative; */
  
  margin:0 auto;
  display: flex;
  justify-content: center;
  /* width: 141px; */
}
.partners-item_last{
  margin-bottom: 0px;
}
.partners-logo:nth-child(6){
  padding-bottom: 0px;
}
.partners__img1{
  filter: grayscale(100%);
}
.partners__img1:hover{
  filter: grayscale(0);
}
/* .footer{
  margin-top: 93px;
} */